@use "../utils/breakpoints.scss" as *;

.container {
  margin: 0px auto;
  max-width: 1440px;
  padding: 0rem 1.5rem;
  @include breakpoint(medium) {
    padding: 0rem 2.5rem;
  }
  
}

.page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.Home {
    background-image: url("../../assets/home/background-home-mobile.jpg");
    @include breakpoint(medium) {
      background-image: url("../../assets/home/background-home-tablet.jpg");
    }
    @include breakpoint(large) {
      background-image: url("../../assets/home/background-home-desktop.jpg");
    }
  }
  &.Destination {
    background-image: url("../../assets/destination/background-destination-mobile.jpg");
    @include breakpoint(medium) {
      background-image: url("../../assets/destination/background-destination-tablet.jpg");
    }
    @include breakpoint(large) {
      background-image: url("../../assets/destination/background-destination-desktop.jpg");
    }
  }
}

.hide-for-mobile {
  @include breakpoint-down(small) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint(medium) {
    display: none;
  }
}
