body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.125rem;
  color: var(--white);
  line-height: 1.1875rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: 9.375rem;
  line-height: 10.74375rem;
}
h2 {
  font-size: 6.25rem;
  line-height: 7.1875rem;
}

h3 {
  font-size: 3.5rem;
  left: 4rem;
}

h5 {
  font-size: 1.75rem;
  line-height: 2.125rem;
  letter-spacing: 0.29531rem;
  margin-bottom: 0px;
}
