@use "../utils/breakpoints.scss" as *;

.destination {
  text-align: center;
  padding-bottom: 58px;
  @include breakpoint(medium) {
    padding-bottom: 62px;
  }

  &__subheading {
    padding-top: 32px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    span {
      font-weight: bold;
      mix-blend-mode: normal;
      opacity: 0.25;
      margin-right: 18px;
    }
    @include breakpoint(medium) {
      padding-top: 40px;
      font-size: 20px;
      letter-spacing: 3.38px;
      line-height: 24px;
      text-align: left;
    }
    @include breakpoint(large) {
      margin: 0 auto;
      max-width: 1047px;
      position: relative;
      font-size: 28px;
      letter-spacing: 4.725px;
      line-height: 34px;
      span {
        position: absolute;
        left: -56px;
      }
    }
  }

  &__wrapper {
    @include breakpoint(large) {
      display: flex;
      max-width: 1047px;
      margin: 0 auto;
      align-items: flex-end;
    }
  }
  &__content {
    flex: 1;
    @include breakpoint(large) {
      text-align: left;
    }
  }

  &__image {
    width: 52%;
    max-width: 300px;
    height: 52%;
    max-height: 300px;
    margin-top: 32px;
    flex: 1;
    @include breakpoint(medium) {
      margin-top: 60px;
    }
    @include breakpoint(large) {
      max-width: 445px;
      max-height: 445px;
      margin-right: 157px;
    }
  }

  &__btns {
    padding-top: 26px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    text-transform: uppercase;

    @include breakpoint(medium) {
      padding-top: 54px;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
    }

    .btn {
      position: relative;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 18px;
        @include breakpoint(medium) {
          margin-right: 36px;
        }
      }
      &.active {
        &::before {
          opacity: 1;
        }
      }
      &:hover {
        &::before {
          opacity: 0.5;
        }
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: var(--white);
        bottom: -11px;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
      }
    }
  }

  &__heading {
    line-height: 64px;
    margin-top: 24px;
    margin-bottom: 0px;
    @include breakpoint(medium) {
      margin-top: 32px;
      font-size: 80px;
      line-height: 92px;
    }
    @include breakpoint(large) {
      margin-top: 37px;
      font-size: 100px;
      line-height: 115px;
    }
  }

  &__body {
    font-size: 15px;
    line-height: 25px;
    color: var(--bwhite);
    padding-bottom: 32px;
    @include breakpoint(medium) {
      font-size: 16px;
      line-height: 28px;
      margin: 0 auto;
      width: 74%;
      margin-top: 8px;
      padding-bottom: 50px;
    }
    @include breakpoint(large) {
      width: 100%;
      margin-top: 42px;
      font-size: 18px;
      line-height: 32px;
      padding-bottom: 54px;
    }
  }
  .divider {
    height: 1px;
    width: 100%;
    background-color: var(--darkgrey);
  }

  .travel {
    @include breakpoint(medium) {
      display: flex;
      justify-content: center;
    }
    @include breakpoint(large) {
      justify-content: start;
    }
  }

  &__distance,
  &__time {
    text-transform: uppercase;
    padding-top: 32px;
    @include breakpoint(medium) {
      padding-top: 28px;
    }

    .head {
      font-size: 14px;
      line-height: 16.8px;
      left: 2.36px;
      @include breakpoint(medium) {
        letter-spacing: 2.3625px;
      }
    }
    .distance,
    .time {
      padding-top: 12px;
      line-height: 32.09px;
      letter-spacing: 0px;
    }
  }
  &__distance {
    @include breakpoint(medium) {
      margin-right: 100px;
    }
    @include breakpoint(large) {
      margin-right: 80px;
    }
  }
}
