@use "../utils/breakpoints.scss" as *;

.destination {
  text-align: center;
  padding-bottom: 3.625rem;
  @include breakpoint(medium) {
    padding-bottom: 3.875rem;
  }

  &__heading {
    padding-top: 2rem;
    font-size: 1rem;
    line-height: 1.1875rem;
    letter-spacing: 0.16875rem;
    text-transform: uppercase;
    span {
      font-weight: bold;
      mix-blend-mode: normal;
      opacity: 0.25;
      margin-right: 1.125rem;
    }
    @include breakpoint(medium) {
      padding-top: 2.5rem;
      font-size: 1.25rem;
      letter-spacing: 0.21125rem;
      line-height: 1.5rem;
      text-align: left;
    }
    @include breakpoint(large) {
      margin: 0 auto;
      max-width: 65.4375rem;
      position: relative;
      font-size: 1.75rem;
      letter-spacing: 0.29531rem;
      line-height: 2.125rem;
      padding-top: 4.75rem;
      span {
        position: absolute;
        left: -3.5rem;
      }
    }
  }

  &__wrapper {
    @include breakpoint(large) {
      display: flex;
      max-width: 65.4375rem;
      margin: 0 auto;
      align-items: flex-end;
    }
  }
  &__content {
    flex: 1;
    @include breakpoint(large) {
      text-align: left;
    }
  }

  &__image {
    width: 52%;
    max-width: 18.75rem;
    height: 52%;
    max-height: 18.75rem;
    margin-top: 2rem;
    flex: 1;
    @include breakpoint(medium) {
      margin-top: 3.75rem;
    }
    @include breakpoint(large) {
      max-width: 27.8125rem;
      max-height: 27.8125rem;
      margin-right: 9.8125rem;
    }
  }

  &__btns {
    padding-top: 1.625rem;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.14766rem;
    text-transform: uppercase;

    @include breakpoint(medium) {
      padding-top: 3.375rem;
      font-size: 1rem;
      line-height: 1.1875rem;
      letter-spacing: 0.16875rem;
    }

    .btn {
      position: relative;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 1.125rem;
        @include breakpoint(medium) {
          margin-right: 2.25rem;
        }
      }
      &.active {
        &::before {
          opacity: 1;
        }
      }
      &:hover {
        &::before {
          opacity: 0.5;
        }
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.1875rem;
        background: var(--white);
        bottom: -0.6875rem;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
      }
    }
  }

  &__title {
    line-height: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    @include breakpoint(medium) {
      margin-top: 2rem;
      font-size: 5rem;
      line-height: 5.75rem;
    }
    @include breakpoint(large) {
      margin-top: 2.3125rem;
      font-size: 6.25rem;
      line-height: 7.1875rem;
    }
  }

  &__body {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    color: var(--bwhite);
    padding-bottom: 2rem;
    @include breakpoint(medium) {
      font-size: 1rem;
      line-height: 1.75rem;
      margin: 0 auto;
      width: 74%;
      margin-top: 0.5rem;
      padding-bottom: 3.125rem;
    }
    @include breakpoint(large) {
      width: 100%;
      margin-top: 2.625rem;
      font-size: 1.125rem;
      line-height: 2rem;
      padding-bottom: 3.375rem;
    }
  }

  .travel {
    @include breakpoint(medium) {
      display: flex;
      justify-content: center;
    }
    @include breakpoint(large) {
      justify-content: start;
    }
  }

  &__distance,
  &__time {
    text-transform: uppercase;
    padding-top: 2rem;
    @include breakpoint(medium) {
      padding-top: 1.75rem;
    }

    .head {
      font-size: 0.875rem;
      line-height: 1.05rem;
      left: 0.1475rem;
      @include breakpoint(medium) {
        letter-spacing: 0.14766rem;
      }
    }
    .distance,
    .time {
      padding-top: 0.75rem;
      line-height: 2.00563rem;
      letter-spacing: 0rem;
    }
  }
  &__distance {
    @include breakpoint(medium) {
      margin-right: 6.25rem;
    }
    @include breakpoint(large) {
      margin-right: 5rem;
    }
  }
}
