@use "../utils/breakpoints.scss" as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include breakpoint(medium) {
    padding-top: 6.625rem;
    padding-bottom: 5.625rem;
  }
  @include breakpoint(large) {
    margin: 0 auto;
    max-width: 69.375rem;
    justify-content: space-between;
    margin: 0 auto;
    align-items: end;
    flex-direction: row;
    padding-top: 15.625rem;
    padding-bottom: 8.125rem;
  }

  &__content {
    @include breakpoint(medium) {
      text-align: left;
      max-width: 28.5rem;
      margin: 0 auto;
    }
    @include breakpoint(large) {
      margin: 0;
    }
  }

  &__subheading {
    font-size: 1rem;
    line-height: 1.1875rem;
    letter-spacing: 0.16875rem;
    color: var(--bwhite);
    text-transform: uppercase;
    @include breakpoint(medium) {
      font-size: 1.25rem;
      line-height: 1.5rem;
      letter-spacing: 0.21125rem;
    }
    @include breakpoint(large) {
      font-size: 1.75rem;
      line-height: 2.125rem;
      letter-spacing: 0.29531rem;
    }
  }

  &__heading {
    margin-top: 1rem;
    margin-bottom: 2.625rem;
    line-height: 9.375rem;
    @include breakpoint-down(small) {
      font-size: 5rem;
      line-height: 6.25rem;
      margin-top: 1.5rem;
      margin-bottom: 3.4375rem;
      letter-spacing: 0.21125rem;
    }
    @include breakpoint(large) {
      line-height: 10.75rem;
    }
  }

  &__body {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    color: var(--bwhite);
    letter-spacing: 0.07813rem;
    @include breakpoint(medium) {
      font-size: 1rem;
      line-height: 1.75rem;
    }
    @include breakpoint(large) {
      font-size: 1.125rem;
      line-height: 2rem;
    }
  }

  &__btn {
    position: relative;
    height: 9.375rem;
    width: 9.375rem;
    margin-top: 5rem;
    @include breakpoint(medium) {
      height: 15.125rem;
      width: 15.125rem;
    }
    @include breakpoint(large) {
      height: 17.125rem;
      width: 17.125rem;
    }
    a {
      z-index: 0;
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
      line-height: 1.4375rem;
      font-family: "Bellefair", serif;
      letter-spacing: 0.07813rem;
      text-transform: uppercase;
      color: var(--darkblue);
      border-radius: 50%;
      background: var(--white);
      transition: all 250ms ease-in-out;
      @include breakpoint(medium) {
        font-size: 2rem;
        letter-spacing: 0.125rem;
        line-height: 2.29188rem;
      }
      @include breakpoint(medium) {
      }
      &:hover {
        box-shadow: 0rem 0rem 0rem 3rem rgb(255 255 255 / 14%);
      }
    }
  }
}
